
#Contenedorimagen img
{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(85%);
}
.navbar li, a
{
    list-style: none;
    color: white;
   text-align: left;
 float: inline-end;
 font-size: 110%;

}
.navbar
{
    height: 9%;
    background-color: black;
}
.presentacion
{
    background-color:black;
    color: white;
    text-align: justify;
   
}
.presentacion h1, .nombre
{
    text-align: center;
}
#portafolio  .card-title, #descripcion
{
    text-align: center;
    color: white;
  
}
#portafolio h1{
    text-align: center;
}
#portafolio 
{
    padding-bottom: 2%;
}
.card-body a
{
   display: flex;
   justify-content: center;
   color: white;
}
#tarjetaportafolio{
    background-color: black;
}

#footer
{
    background-color:   rgba(0, 0, 0, 0.945);
    color: white;
}
#footer a, #footerDivider a{
    text-decoration: none;
    color: white;
}
#footerDivider a
{
    background-color:  white ;
    color: black;
}
#formulario 
{
    height: 650px;
    color: white;
  background-color:   rgba(0, 0, 0, 0.945);
}
.table
{
    color: white;
}
#contact h1
{
    text-align: center;
  
  
}
#contact button, #formulario button
{
    margin: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
}
#contact
{
    background-color:   rgba(0, 0, 0, 0.945);
    margin-bottom: 20px;
    color: white;
}
#form, #login
{
    
    margin: 0px;
   margin:auto;

}
#login
{
  color: white;
    background: linear-gradient(to bottom left, #333300 33%, #666699 77%);
    margin-top: 10px;
  
}
.admin
{
    background: linear-gradient(to bottom left, #333300 33%, #666699 77%);
}
#login h1{
    text-align: center;
}


